<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a ng-href="/">Etyssa</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon">
	<a href="#">
          <span>Menu</span>
        </a>
      </li>
    </ul>
    <section class="top-bar-section">
    <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a href="#"><i class="fa fa-bars"></i>Menu</a>
          <ul class="dropdown">
            <li><a ui-sref="search"><i class="fa fa-search"></i>Recherche</a></li>
            <li><a ui-sref="overview"><i class="fa fa-flask"></i>Le réseau</a></li>
            <li><a ui-sref="about"><i class="fa fa-info"></i>À propos</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>
